.wrapper {
  width: 30vw;
  height: 90vh;
  max-height: 90vh;
  background-color: #3D3D3D;
  display: flex;
}
@media (max-width: 1024px) {
  .wrapper {
    justify-content: center;
    width: 100vw;
    height: 45vh;
  }
}
